#header ul {
 padding:20px 0 0 0; list-style:none;
}
#header li {
 float:left;padding:0px 0px 0px 15px;color:dark-blue;
}
#header a {
 display:block;padding-top:11px;text-decoration:none;text-align:left;font-weight:bold;color:dark-blue;
}
#header a:hover {
    color:#333;
}
 
